<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="put your consumer key here"/>
    <add key="ConsumerSecret" value="put your consumer secret here"/>
    <add key="Token" value="your token goes here"/>
    <add key="TokenSecret" value="your token secret goes here"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
